@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8j1n5p');
  src:  url('fonts/icomoon.eot?8j1n5p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8j1n5p') format('truetype'),
    url('fonts/icomoon.woff?8j1n5p') format('woff'),
    url('fonts/icomoon.svg?8j1n5p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e900";
}
.icon-circle1:before {
  content: "\e905";
}
.icon-x1:before {
  content: "\e906";
}
.icon-cross:before {
  content: "\e903";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
